@model Produto
@{
    ViewData["Title"] = "Apagar Produto";
}

<h1>Apagar Produto</h1>

<form asp-action="Apagar" method="post">
    <button type="submit" class="btn btn-primary">APAGAR</button>
</form>