@model Veiculo
@{
    ViewData["Title"] = "Apagar Veiculo";
}

<h1>Apagar Veiculo</h1>

<form asp-action="Apagar" method="post">
    <button type="submit" class="btn btn-primary">APAGAR</button>
</form>